body {

    background-color: #707070;

}

h1 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: #282828;
    margin-top: 0.5em;

}

h5 {

    color: #0000af;
    
}

p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: #000000;

}

img.indexLogo {

    margin: 0.5em;
    margin-top: 1em;
    width: 10em;

}

ul.checkboxesUl {

    list-style-type: none;

}

li.addedCoursesHideDecorations {

    list-style: none;

}

img.shoppingCart {

    position: absolute;
    top: 0em;
    right: 1em;
    width: 4em;

}


/******************************************/
/******* Start Shopping Cart Page *********/
/******************************************/

ul.hatedUl {

    list-style-type: none;
    background-color: #ffff00;
    padding: 2em;

}

b.disguise {

    color: #ffff00;
    user-select: none;

}

button.payButtonClass {

    margin-bottom: 1em;

    background-color: #bbbbff;

}

button.payButtonClass:hover {

    background-color: #7777ff;

}

button.payButtonClass:active {

    background-color: #2222ff;

}

.pricePosition {

    text-align: right;

}


/******************************************/
/******** End Shopping Cart Page **********/
/******************************************/


/******************************************/
/******* Start Pay Modal ********/
/******************************************/

div.myPayModal {

    display: none;
    position: fixed;
    top: 33%;
    left: auto;
    right: auto;
}

div.payModalContent {

    background-color: #2aca38;
    background-color: #2aca38f7;
    color: #ffffff;
    z-index: 1200;
    padding: 1em;
    margin: auto;
    text-align: center;
    width: 70%;
    height: 70%;
    overflow: auto;

}



/******************************************/
/******** End Pay Modal *********/
/******************************************/


/******************************************/
/********* Start hide scrollbars **********/
/******************************************/

section {

    overflow-x: hidden;

}

/******************************************/
/********* End hide scrollbars ************/
/******************************************/


/******************************************/
/******** Start Show Sorting Menu *********/
/******************************************/


.showSortingWindow {

    background-color: #ff3333;

    color: seashell;
    
    position: relative;
    /* right: 40%; */
    
}

div.showSortingWindowButtonDiv {

    align-content: right;

}

.hideSortingWindow {

    background-color: #ff3333;

    color: seashell;
    
    position: relative;
    /* right: 48%; */

}


/******************************************/
/******** End Show Sorting Menu ***********/
/******************************************/


/******************************************/
/******** Start Courses Dropdown **********/
/******************************************/

div.coursesDropdownDiv {

    display: none;
    background-color: #ffee77;
    padding: 1em;
    z-index: 1;
 
}

div.coursesDropdown {

    position: relative;
    display: inline-block;

}

button.coursesDropdownButton {

    background-color: #dd4000;
    color: #eeeeee;
    padding: 0.2em 2em;
    border: 1;
    cursor: pointer;

}

button.coursesDropdownButton:hover {

    background-color: #c03000;

}

button.coursesDropdownButton:focus {

    background-color: #c03000;

}

ul.coursesDropdownList {

    position: absolute;
    background-color: #FF6f89;
    box-shadow: 0.21em 0.21em 0.35em 0.16em rgba(0, 0, 0, 0.5);
    width: 100%;
    overflow: auto;
    z-index: 2;

}

/* JavaScript to activate */.hideCoursesDropdownList {

    display: none;

}

/* JavaScript to activate */.showCoursesDropdownList {

    display: block;

}

a.dropdownLinks {

    text-decoration: none;

}

p.dropdownP {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    text-align: left;
    margin: 0.5em;
    color: #000000;
    user-select: none;

}

p.dropdownP:hover {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    text-align: left;
    margin: 0.5em;
    color: #000000;
    user-select: none;

}

li.dropdownListItem:hover {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    background-color: #c03000;
    user-select: none;
    
}

/****************************************/
/******** End Courses Dropdown **********/
/****************************************/


/****************************************/
/******** Start Courses Blocks **********/
/****************************************/

img.coursesImages {

    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    width: auto;
    height: 7em;

}

div.coursesCell {

    margin: 1em 1em 1em 0em;
    /* background-color: #606060; */
    background-color: #ffee77;

}

div.coursesTextSubcell {

    word-wrap: break-word;
    background-color: #f0f0f0;
    margin: 0.7em;
    padding: 0.7em;

}

/****************************************/
/********* End Courses Blocks ***********/
/****************************************/


/****************************************/
/********** Start Add Course ************/
/****************************************/


div.addCourse {

    display: none;
    
}

div.addingCourse {

    position: fixed;
    top: 0em;
    background-color: #0000af;
    background-color: #0000afe9;
    z-index: 1100;
    padding: 1em;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

p.addCourseFormText {

    color: #ffff00;
    text-align: center;

}

button.addCourseButton {

    background-color: #aaaaff;
    color: #000000;


}

div.addCourseButtonDiv {

    margin: 1em;

}

button.addingCourseButton {

    background-color: #dfdf00;
    color: #000000;

}


/****************************************/
/********** End  Add Course *************/
/****************************************/


/****************************************/
/*********** Start Top Menu *************/
/****************************************/

div.topMenu {

    background-color: #202020;

}

img.logotype {

    margin: 1em 0em;
    width: 11em;

}

img.logotype:hover {

    width: 20em;

}

div.menuButton {

    margin-top: 0em;
    width: 7em;/* 180px */
    height: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    text-shadow: #333333 5px 3px 6px;
    line-height: 1.8em;
    color: #ffdddd;
    background: #F49515;
    box-shadow: #333333 0.1em 0.1em 0.1em;
    border-style: solid;
    border-width: 0.1em;
    border-color: #333333;
    border-radius: 0.8em;
    user-select: none;

}

div.menuButton:hover {

    background-color: #d7800b;
    color: #ff9999;

}

div.menuButton:active {

    background-color: #b76c09;
    color: #fa8888;
    box-shadow: #333333 0.05em 0.05em 0.05em;
    position: relative;
    top: 0.07em;
    left: 0.15em;

}

/****************************************/
/************ End Top Menu **************/
/****************************************/

div.pageContent {

    background: #ffffaa;
    margin-top: 16em;
    margin-bottom: 3em;

}

div.bottomArea {

    background-color: #202020;

}

a.menuLinkedButton {

    color: #ffdddd;

}

a.menuLinkedButton:hover {

    color: #ff9999;

}

a.menuLinkedButton:active {

    color: #fa8888;

}

a.rightA {

    margin-right: 1em;

}

/********* Design förändringar beroende på x-axeln värdet *********/

/***** Knappmenyn förändringar *****/

@media (orientation: portrait) and (min-width: 1px) and (max-width: 168px) {
    
    div.menuButton {

        font-size: 0.6em;
        
    }

    img.logotype {

        display: none;
        
    }
    
}

@media (orientation: portrait) and (min-width: 169px) and (max-width: 191px) {
    
    div.menuButton {

        font-size: 0.7em;
        
    }

    img.logotype {

        display: none;
        
    }
    
}

@media (orientation: portrait) and (min-width: 192px) and (max-width: 212px) {
    
    div.menuButton {

        font-size: 0.8em;
        
    }

    img.logotype {

        display: none;
        
    }
    
}

@media (orientation: portrait) and (min-width: 213px) and (max-width: 235px) {
    
    div.menuButton {

        font-size: 0.9em;
        
    }

    img.logotype {

        display: none;
        
    }
    
}

@media (orientation: portrait) and (min-width: 236px) and (max-width: 303px) {
    
    div.menuButton {

        font-size: 1em;
        
    }

    img.logotype {

        display: none;
        
    }
    
}

@media (orientation: portrait) and (min-width: 304px) and (max-width: 469px) {
    
    div.menuButton {

        font-size: 1.3em;
        
    }

    img.logotype {

        display: none;
        
    }
    
}

@media (orientation: portrait) and (min-width: 470px) and (max-width: 485px) {
    
    div.menuButton {

        font-size: 1.3em;
        
    }

    img.logotype {

        margin: 1em 3em;
        width: 14em;
    
    }

    img.logotype:hover {

        width: 14em;
    
    }

}

@media (orientation: portrait) and (min-width: 486px) and (max-width: 507px) {
    
    div.menuButton {

        font-size: 1.5em;
        
    }

    img.logotype {

        margin: 1em 3em;
        width: 14em;
    
    }

    img.logotype:hover {

        width: 14em;
    
    }

}

@media (orientation: portrait) and (min-width: 508px) and (max-width: 555px) {
    
    div.menuButton {

        font-size: 1.5em;
        
    }

    img.logotype {

        margin: 1em 10em;
        width: 11em;
    
    }

    img.logotype:hover {

        width: 20em;
        
    }

}

@media (orientation: portrait) and (min-width: 556px) and (max-width: 699px) {
    
    div.menuButton {

        font-size: 1.5em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 11em;
    
    }

    img.logotype:hover {

        width: 20em;
        
    }

}

@media (orientation: portrait) and (min-width: 700px) and (max-width: 914px) {
    
    /* Knappmenyn hamnar bra för den här skärmstorleken */

}

@media (orientation: portrait) and (min-width: 915px) and (max-width: 954px) {
    
    div.menuButton {

        font-size: 1.3em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 11em;
    
    }

    img.logotype:hover {

        width: 20em;
        
    }

}

@media (orientation: portrait) and (min-width: 955px) and (max-width: 999px) {
    
    div.menuButton {

        font-size: 1.4em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 11em;
    
    }

    img.logotype:hover {

        width: 20em;
        
    }

}

@media (orientation: portrait) and (min-width: 1000px) and (max-width: 1099px) {
    
    div.menuButton {

        font-size: 1.5em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 11em;
    
    }

    img.logotype:hover {

        width: 20em;
        
    }

}

@media (orientation: portrait) and (min-width: 1100px) and (max-width: 1249px) {
    
    div.menuButton {

        font-size: 1.7em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 11em;
    
    }

    img.logotype:hover {

        width: 20em;
        
    }

}

@media (orientation: portrait) and (min-width: 1250px) {
    
    /* Knappmenyn hamnar bra för den här skärmstorleken */

}

/***** pageContent förändringar *****/

/*** Förändringar när orientation portrait Start ***/

@media (orientation: portrait) and (max-width: 146px) {
    
    div.pageContent {

        margin-top: 11em;
    
    }

}

@media (orientation: portrait) and (min-width: 147px) and (max-width: 191px) {
    
    div.pageContent {

        margin-top: 9em;
    
    }

}

@media (orientation: portrait) and (min-width: 192px) and (max-width: 212px) {
    
    div.pageContent {

        margin-top: 10em;
    
    }

}

@media (orientation: portrait) and (min-width: 213px) and (max-width: 267px) {
    
    div.pageContent {

        margin-top: 11em;
    
    }

}

@media (orientation: portrait) and (min-width: 268px) and (max-width: 303px) {
    
    div.pageContent {

        margin-top: 8em;
    
    }

}

@media (orientation: portrait) and (min-width: 304px) and (max-width: 334px) {
    
    div.pageContent {

        margin-top: 13em;
    
    }

}

@media (orientation: portrait) and (min-width: 335px) and (max-width: 469px) {
    
    div.pageContent {

        margin-top: 9em;
    
    }

}

@media (orientation: portrait) and (min-width: 470px) and (max-width: 485px) {
    
    div.pageContent {

        margin-top: 25em;
    
    }

}

@media (orientation: portrait) and (min-width: 486px) and (max-width: 507px) {
    
    div.pageContent {

        margin-top: 26em;
    
    }

}

@media (orientation: portrait) and (orientation: portrait) and (min-width: 508px) and (max-width: 555px) {
    
    div.pageContent {

        margin-top: 23em;
    
    }

}

@media (orientation: portrait) and (min-width: 556px) and (max-width: 699px) {
    
    div.pageContent {

        margin-top: 19em;
    
    }

}

@media (orientation: portrait) and (min-width: 700px) and (max-width: 914px) {
    
    div.pageContent {

        margin-top: 20em;
    
    }

}

@media (orientation: portrait) and (min-width: 915px) and (max-width: 1100px) {
    
    div.pageContent {

        margin-top: 15em;
    
    }

}

@media (orientation: portrait) and (min-width: 1101px) {
    
    /* pageContent hamnar bra för den här skärmstorleken */

}


/*** Förändringar när orientation portrait Slut ***/

/*** Förändringar när orientation landscape Start ***/


/* @media (orientation: landscape) and (min-width: px) and (max-width: px) {
    
    div.pageContent {

        margin-top: 13em;
    
    }

} */

@media (orientation: landscape) and (min-width: 1px) and  (max-width: 245px) {
    
    div.pageContent {

        margin-top: 11em;
    
    }

}

@media (orientation: landscape) and (min-width: 246px) and  (max-width: 303px) {
    
    div.pageContent {

        margin-top: 8em;
    
    }

}

@media (orientation: landscape) and (min-width: 304px) and (max-width: 320px) {
    
    div.pageContent {

        margin-top: 8em;
    
    }

}

@media (orientation: landscape) and (min-width: 321px) and (max-width: 370px) {
    
    div.pageContent {

        margin-top: 9em;
    
    }

}

@media (orientation: landscape) and (min-width: 371px) and (max-width: 437px) {
    
    div.pageContent {

        margin-top: 9em;
    
    }

}

@media (orientation: landscape) and (min-width: 438px) and (max-width: 471px) {
    
    div.pageContent {

        margin-top: 9em;
    
    }

}

@media (orientation: landscape) and (min-width: 472px) and (max-width: 495px) {
    
    div.pageContent {

        margin-top: 4em;
    
    }

}

@media (orientation: landscape) and (min-width: 496px) and (max-width: 539px) {
    
    div.pageContent {

        margin-top: 4em;
    
    }

}

@media (orientation: landscape) and (min-width: 540px) and (max-width: 590px) {
    
    div.pageContent {

        margin-top: 5em;
    
    }

}

@media (orientation: landscape) and (min-width: 591px) and (max-width: 630px) {
    
    div.pageContent {

        margin-top: 5em;
    
    }

}

@media (orientation: landscape) and (min-width:631px) and (max-width: 683px) {
    
    div.pageContent {

        margin-top: 5em;
    
    }

}

@media (orientation: landscape) and (min-width: 684px) and (max-width: 758px) {
    
    div.pageContent {

        margin-top: 10em;
    
    }

}

@media (orientation: landscape) and (min-width: 759px) and (max-width: 789px) {
    
    div.pageContent {

        margin-top: 11em;
    
    }

}

@media (orientation: landscape) and (min-width: 790px) and (max-width: 833px) {
    
    div.pageContent {

        margin-top: 11em;
    
    }

}

@media (orientation: landscape) and (min-width: 834px) and (max-width: 847px) {
    
    div.pageContent {

        margin-top: 11em;
    
    }

}

@media (orientation: landscape) and (min-width: 848px) and (max-width: 891px) {
    
    div.pageContent {

        margin-top: 12em;
    
    }

}

@media (orientation: landscape) and (min-width: 892px) and (max-width: 907px) {
    
    div.pageContent {

        margin-top: 12.5em;
    
    }

}

@media (orientation: landscape) and (min-width: 908px) and (max-width: 952px) {
    
    div.pageContent {

        margin-top: 13em;
    
    }

}

@media (orientation: landscape) and (min-width: 953px) and (max-width: 968px) {
    
    div.pageContent {

        margin-top: 13em;
    
    }

}

@media (orientation: landscape) and (min-width: 969px) and (max-width: 1013px) {
    
    div.pageContent {

        margin-top: 14em;
    
    }

}

@media (orientation: landscape) and (min-width: 1014px) and (max-width: 1108px) {
    
    div.pageContent {

        margin-top: 14em;
    
    }

}

@media (orientation: landscape) and (min-width: 1109px) and (max-width: 1119px) {
    
    div.pageContent {

        margin-top: 15em;
    
    }

}

@media (orientation: landscape) and (min-width: 1120px) and (max-width: 1163px) {
    
    div.pageContent {

        margin-top: 15em;
    
    }

}
/*
@media (orientation: landscape) and (min-width: 1164px) {
    
    div.pageContent {

        *//* pageContent hamnar bra för den här skärmstorleken *//*
    
    }

}
*/

/*** Förändringar när orientation landscape Slut ***/



/********* Design förändringar beroende på y-axeln värdet *********/

/***** Knappmenyn förändringar *****/


@media (orientation: landscape) and (min-width: 1px) and (max-width: 303px) {

    div.menuButton {

        font-size: 0.9em;
        
    }

    img.logotype {

        display: none;
        
    }

}

@media (orientation: landscape) and (min-width: 304px) and (max-width: 320px) {

    div.menuButton {

        font-size: 1.1em;
        
    }

    img.logotype {

        display: none;
        
    }

}

@media (orientation: landscape) and (min-width: 321px) and (max-width: 370px) {

    div.menuButton {

        font-size: 1.2em;
        
    }

    img.logotype {

        display: none;
        
    }

}

@media (orientation: landscape) and (min-width: 371px) and (max-width: 437px) {

    div.menuButton {

        font-size: 1.1em;
        
    }

    img.logotype {

        display: none;
        /* margin: 1em 0.1em;
        width: 6em; */
    
    }

    /* img.logotype:hover {

        width: 10.5em;
        
    } */

}

@media (orientation: landscape) and (min-width: 438px) and (max-width: 471px) {

    div.menuButton {

        font-size: 1.2em;
        
    }

    img.logotype {

        display: none;
        /* margin: 1em 0.1em;
        width: 6em; */
    
    }

    /* img.logotype:hover {

        width: 10.5em;
        
    } */

}

@media (orientation: landscape) and (min-width: 472px) and (max-width: 495px) {

    div.menuButton {

        font-size: 0.85em;

    }

    img.logotype {

        display: none;
        /* margin: 1em 0.1em;
        width: 6em; */
    
    }

    /* img.logotype:hover {

        width: 10.5em;
        
    } */

    /*
    
    div.pageContent {

        margin-top: 8em;
    
    }
    
    */

}

@media (orientation: landscape) and (min-width: 496px) and (max-width: 539px) {

    div.menuButton {

        font-size: 0.9em;
        
    }

    img.logotype {

        display: none;
        /* margin: 1em 0.1em;
        width: 6em; */
    
    }

    /* img.logotype:hover {

        width: 10.5em;
        
    } */

 }

 @media (orientation: landscape) and (min-width: 540px) and (max-width: 590px) {

    div.menuButton {

        font-size: 1em;
        
    }

    img.logotype {

        display: none;
        /* margin: 1em 0.1em;
        width: 6em; */
    
    }

    /* img.logotype:hover {

        width: 10.5em;
        
    } */

 }

 @media (orientation: landscape) and (min-width: 591px) and (max-width: 630px) {

    div.menuButton {

        font-size: 1.1em;
        
    }

    img.logotype {

        display: none;
        /* margin: 1em 0.1em;
        width: 6em; */
    
    }

    /* img.logotype:hover {

        width: 10.5em;
        
    } */

 }

 @media (orientation: landscape) and (min-width: 631px) and (max-width: 683px) {

    div.menuButton {

        font-size: 1.2em;
        
    }

    img.logotype {

        display: none;
        /* margin: 1em 0.1em;
        width: 6em; */
    
    }

    /* img.logotype:hover {

        width: 10.5em;
        
    } */

 }

@media (orientation: landscape) and (min-width: 684px) and (max-width: 758px) {

    div.menuButton {

        font-size: 1.1em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 6em;
    
    }

    img.logotype:hover {

        width: 10.5em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 759px) and (max-width: 789px) {

    div.menuButton {

        font-size: 1.23em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 7em;
    
    }

    img.logotype:hover {

        width: 11em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 790px) and (max-width: 833px) {

    div.menuButton {

        font-size: 1.3em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 7em;
    
    }

    img.logotype:hover {

        width: 11em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 834px) and (max-width: 847px) {

    div.menuButton {

        font-size: 1.4em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 7em;
    
    }

    img.logotype:hover {

        width: 11em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 848px) and (max-width: 891px) {

    div.menuButton {

        font-size: 1.4em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 8em;
    
    }

    img.logotype:hover {

        width: 12em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 892px) and (max-width: 907px) {

    div.menuButton {

        font-size: 1.5em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 8em;
    
    }

    img.logotype:hover {

        width: 12em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 908px) and (max-width: 952px) {

    div.menuButton {

        font-size: 1.5em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 9em;
    
    }

    img.logotype:hover {

        width: 13em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 953px) and (max-width: 968px) {

    div.menuButton {

        font-size: 1.6em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 9em;
    
    }

    img.logotype:hover {

        width: 13em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 969px) and (max-width: 1013px) {

    div.menuButton {

        font-size: 1.6em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 10em;
    
    }

    img.logotype:hover {

        width: 13em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 1014px) and (max-width: 1108px) {

    div.menuButton {

        font-size: 1.7em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 10em;
    
    }

    img.logotype:hover {

        width: 13em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 1109px) and (max-width: 1119px) {

    div.menuButton {

        font-size: 1.7em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 11em;
    
    }

    img.logotype:hover {

        width: 16em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 1120px) and (max-width: 1163px) {

    div.menuButton {

        font-size: 1.9em;
        
    }

    img.logotype {

        margin: 1em 0em;
        width: 11em;
    
    }

    img.logotype:hover {

        width: 17em;
        
    }

 }

 @media (orientation: landscape) and (min-width: 1164px) {

    /* Knappmenyn hamnar bra för den här skärmstorleken */

 }

 